.services_con {
  padding-top: 95px !important;
}

.services_cards_row {
  overflow-x: auto;
  padding-top: 30px;
  margin-top: -30px;
}

.services_cards_row::-webkit-scrollbar {
  overflow-x: auto;
  height: 7px;
  background: #d9d9d9;
  border-radius: 3px;
}

.services_cards_row::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
}

.services_cards_row::-webkit-scrollbar-thumb {
  background: #f47721;
  border-radius: 3px;
}

.services_cards {
  width: max-content;
  display: flex;
  gap: 28px;
}

.services_brands_row {
  padding: 0 40px 35px;
  margin-top: 120px;
  overflow-x: auto;
  background: linear-gradient(
    to right,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    white 5%,
    white 95%,
    transparent
  );
}

.services_brands_row::-webkit-scrollbar {
  height: 7px;
  background: #d9d9d9;
  border-radius: 3px;
}

.services_brands_row::-webkit-scrollbar-track {
  -webkit-border-radius: 3px;
}

.services_brands_row::-webkit-scrollbar-thumb {
  background: #f47721;
  border-radius: 3px;
}

.services_brands {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 100px;
}

.services_brands a {
  width: 100px;
}

.services_brands img {
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .services_con {
    padding-top: 66px !important;
  }

  .services_cards {
    justify-content: space-around;
    gap: 20px;
  }

  .services_brands_row {
    margin-top: 60px;
  }

  .services_brands a {
    width: 86px;
  }
}

@media screen and (max-width: 720px) {
  .services_brands_row {
    margin-top: 40px;
  }

  .services_brands a {
    width: 48px;
  }
}
