.car_slider {
    width: 56%;
    height: 600px;
}

.car_slider .swiper {
    width: 100%;
    height: 100%;
}

.car_slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.car_slider .swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.car_slider .swiper-slide {
    background-size: cover;
    background-position: center;
}

.car_slider .car_slides {
    height: 79%;
    width: 100%;
    border-radius: 5px;
}

.car_slider .car_slider_thumbs {
    height: 18%;
    box-sizing: border-box;
    padding: 10px 30px;
    margin: 16px 0 0;
    background: #FFFFFF;
    box-shadow: -2px -2px 5px rgba(35, 31, 30, 0.14), 2px 2px 5px rgba(35, 31, 30, 0.14);
    border-radius: 5px;
}

.car_slider .car_slider_thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.car_slider .car_slider_thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.car_slider .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1440px) {
    .car_slider {
        height: 500px;
    }
}

@media screen and (max-width: 1080px) {
    .car_slider {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .car_slider {
        max-width: 600px;
        margin: 0 auto;
        height: 300px;
    }
}