.about_company {
    padding-top: 95px;
    background: url("../../../assets/images/sheet.png") no-repeat -1% 60px / 15%;
}

.about_company p {
    font-size: 18px;
    line-height: 185%;
    margin-bottom: 30px;
}

.about_company p:nth-child(3) {
    max-width: 960px;
}

.about_company p:nth-child(5) {
    margin-bottom: 80px;
}

.about_block_images {
    display: flex;
    justify-content: space-between;
}

.about_block_images div:first-child {
    width: 54%;
}

.about_block_images div:last-child {
    width: 40%;
}

.about_block_images img {
    width: 100%;
}

.about_block_description_images {
    display: flex;
    justify-content: space-between;
}

.about_block_bottom {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.about_block_image {
    width: 53%;
}

.about_block_image img {
    width: 100%;
}

.about_block_description {
    width: 44%;
}

.about_block_description p {
    margin: 0 0 20px;
}

.about_block_description_images div {
    padding: 30px 0;
    width: 30%;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0 1px 10px rgba(35, 31, 30, 0.09);
    border-radius: 5px;
}

.about_block_description_images img {
    height: 100%;
}

@media screen and (max-width: 1440px) {
    .about_company {
        padding-top: 66px;
    }

    .about_company p {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .about_block_image {
        width: 44%;
    }

    .about_block_description {
        width: 52%;
    }

    .about_block_description_images div {
        padding: 24px 0;
        width: 28%;
    }
}

@media screen and (max-width: 1280px) {
    .about_block_bottom {
        flex-direction: column;
    }

    .about_block_image, .about_block_description {
        width: 80%;
        margin: 0 auto;
    }

    .about_company p {
        margin: 18px 0;
    }

}

@media screen and (max-width: 720px) {
    .about_company {
        padding-top: 50px;
    }

    .about_company p {
        font-size: 14px;
        margin: 16px 0 !important;
        line-height: 28px;
    }

    .about_block_images {
        flex-direction: column;
    }

    .about_block_images div:first-child {
        width: 100%;
        margin-bottom: 10px;
    }

    .about_block_images div:last-child {
        width: 100%;
    }

    .about_block_image, .about_block_description {
        width: 100%;
    }

    .about_block_description_images div {
        height: 60px;
        padding: 12px 0;
        width: 30%;
    }
}