.contacts_promo {
  background: url("../../assets/images/contacts_promo.jpg") no-repeat 50% /
    cover;
  min-height: 588px;
}

.about_promo {
  background: url("../../assets/images/about_promo.jpg") no-repeat 50% 70% /
    cover;
  min-height: 588px;
}

.services_promo {
  background: url("../../assets/images/services_promo.jpg") no-repeat 50% 65% /
    cover;
  min-height: 588px;
}

.auction_promo {
  background: url("../../assets/images/auction-promo.jpg") no-repeat 50% 65% /
    cover;
  min-height: 588px;
}
.trecking_promo {
  background: url("../../assets/images/Background.png") no-repeat 50% 65% /
    cover;
  min-height: 588px;
}

.promo_con {
  padding-top: 198px !important;
}

.promo_con span {
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.promo_con h1 {
  max-width: 700px;
  margin: 0;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (max-width: 1440px) {
  .contacts_promo,
  .about_promo,
  .services_promo,
  .auction_promo {
    min-height: 530px;
  }

  .promo_con {
    padding-top: 190px !important;
  }

  .promo_con span {
    font-size: 18px;
    line-height: 22px;
  }

  .promo_con h1 {
    max-width: 600px;
    font-size: 54px;
    line-height: 66px;
  }
}

@media screen and (max-width: 720px) {
  .contacts_promo,
  .about_promo,
  .services_promo,
  .auction_promo {
    min-height: 690px;
  }

  .promo_con {
    padding-top: 220px !important;
  }

  .promo_con span {
    font-size: 16px;
    line-height: 20px;
  }

  .promo_con h1 {
    font-size: 44px;
    line-height: 54px;
  }
}
