.nav_btn {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.black_link {
    color: #231F1E;
}

.nav_btn:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

@media screen and (max-width: 1440px) {
    .nav_btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 1080px) {
    .nav_btn {
        color: #231F1E;
        font-size: 38px;
        font-weight: 500;
    }
}

@media screen and (max-width: 520px) {
    .nav_btn {
        font-size: 20px;
    }
}